[submodule "cortex-cpp/llama.cpp"]
	path = cortex-cpp/llama.cpp
	url = https://github.com/ggerganov/llama.cpp
[submodule "cortex-cpp/whisper.cpp"]
	path = cortex-cpp/whisper.cpp
	url = https://github.com/ggerganov/whisper.cpp.git
