# platform
.DS_Store
platform/cortex.db
dist
*.lock
node_modules
.turbo
package-lock.json

# CI - Test - Coverage
cortex.log
api.log
prism.log
api.json
openai-python/*
build
build_deps
platform/cortex.exe
platform/package-lock.json
.vscode
.vs
platform/command
platform/src/infrastructure/commanders/test/test_data
**/vcpkg_installed
engine/test.db
!docs/yarn.lock

# Local
docs/.yarn/
docs/.yarnrc.yml
docs/bun.lockb
docs/yarn.lock
