# cortex-js
.DS_Store
cortex-js/cortex.db
dist
*.lock
node_modules
.turbo
package-lock.json

# CI - Test - Coverage
cortex.log
api.log
prism.log
api.json
openai-python/*
build
cortex-js/cortex.exe
cortex-js/package-lock.json
.vscode
cortex-js/command
cortex-js/src/infrastructure/commanders/test/test_data
**/vcpkg_installed
