[submodule "engine/vcpkg"]
	path = engine/vcpkg
	url = https://github.com/microsoft/vcpkg.git
[submodule "3rd-party/yaml-cpp"]
	path = 3rd-party/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "3rd-party/cli11"]
	path = 3rd-party/cli11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "3rd-party/drogon"]
	path = 3rd-party/drogon
	url = https://github.com/drogonframework/drogon.git
[submodule "3rd-party/tabulate"]
	path = 3rd-party/tabulate
	url = https://github.com/p-ranav/tabulate.git
