---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
// import CustomComponent from './CustomComponent.astro';
---

<StarlightPage frontmatter={{ title: "My custom page" }}>
    <p>This is a custom page with a custom component:</p>
    <!-- <CustomComponent /> -->
</StarlightPage>
