.sidebar-heading-link-title {
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
  font-weight: 400 !important;
}

// .sidebar-heading {
//   --scalar-sidebar-indent-base: 0px !important;
// }

.sidebar-group-title {
  font-weight: 600 !important;
  border-top: none !important;
  font-size: 14px !important;
  padding-left: 12px !important;
}