.cardContainer {
  border: 1px;
  border-style: solid;
  @apply dark:border-neutral-700 border-neutral-800;
  @apply dark:bg-[#111] bg-white;
  padding: 32px;
  border-radius: 16px;
  position: relative;
  width: 100%;

  &:before {
    position: absolute;
    content: "";
    right: -10px;
    bottom: -10px;
    z-index: -1;
    width: 100%;
    height: 100%;
    border: 1px;
    border-style: solid;
    @apply dark:border-neutral-800 border-neutral-800;
    @apply bg-[#111] dark:bg-neutral-800;
    border-radius: inherit;
  }

  &__small {
    &:before {
      right: -6px;
      bottom: -6px;
    }
  }
}

.cardCustom {
  .card {
    overflow: visible;
    border: 1px;
    border-style: solid;
    @apply dark:border-neutral-500 border-neutral-800;
    @apply dark:bg-neutral-900 bg-neutral-50;
    padding: 32px;
    border-radius: 16px;
    position: relative;
    width: 100%;

    &:hover {
      @apply dark:border-neutral-500 border-neutral-800;
    }

    &:before {
      position: absolute;
      content: "";
      right: -10px;
      bottom: -10px;
      z-index: -1;
      width: 100%;
      height: 100%;
      border: 1px;
      border-style: solid;
      @apply dark:border-neutral-500 border-neutral-800;

      border-radius: inherit;
    }
  }
}
