:root {
  footer {
    --ifm-footer-background-color: #fff;
  }
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
html[data-theme="dark"] {
  footer {
    --ifm-footer-background-color: #111;
  }
}

footer {
  margin: 20px;
  padding: var(--ifm-navbar-padding-vertical)
    var(--ifm-navbar-padding-horizontal);
}

[data-theme="light"] .DocSearch {
  --docsearch-searchbox-background: white;
}

.DocSearch-Footer {
  margin: 0;
}

.DocSearch-Button-Key,
.DocSearch-Commands-Key {
  box-shadow: none !important;
}

.DocSearch-Button {
  border-radius: 8px !important;
  padding: 0 10px !important;
  border: 1px solid rgb(216, 216, 216) !important;
}

.DocSearch-Search-Icon {
  width: 14px !important;
}

.DocSearch-Button-Key {
  color: black !important;
}

[data-theme="dark"] {
  .DocSearch-Button {
    border: 1px solid rgb(66, 66, 66) !important;
  }
  .DocSearch-Button-Key {
    color: white !important;
  }
}

.DocSearch-Button-Keys {
  min-width: unset !important;
}
