@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./base.scss";
@import "./codehike.scss";
@import "./footer.scss";
@import "./navbar.scss";
@import "./sidebar.scss";
@import "./tabs.scss";
@import "./alert.scss";
@import "./pagination.scss";
@import "./cardContainer.scss";
@import "./models-detail.scss";
@import "./apiReference.scss";