<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Cortex - Local LLMs</title>
    </head>
    <body>
        <slot />
    </body>
</html>

<style is:global>
    html,
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        background: #202020;
        overflow-x: hidden;
    }

    * {
        box-sizing: border-box;
    }
</style>
