.vscode
.env

# Jan inference
.yarn
node_modules
*.tgz
yarn.lock
dist/bin/
build
.DS_Store
package-lock.json

*.log

# Nitro binary directory
bin/
# Locally downloaded model for testing
test/test_assets/*.gguf